.home-container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f2f2f2;
  min-height: 100vh;
  overflow: auto;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: space-around;
  max-width: 800px;
}

.card {
  width: 160px;
  height: 180px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

h2 {
  color: #333;
  margin-top: 10px;
  font-size: 16px;
}

i {
  font-size: 24px;
  color: #3498db;
}

/* Gradient background */
.home-container {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #3498db, #8e44ad);
  z-index: -1;
}

/* Card styling */
.card {
  background: linear-gradient(45deg, #ffffff, #f1f1f1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 12px;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.home-header {
  display: flex;
  gap: 25px;
  justify-content: space-around;
  align-items: center;
}

select {
  height: 20px !important;
}
.home-header > button {
  width: 10%;
}

.servic-icon {
  height: 50px;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 80%;
}
