.security {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-container {
  max-width: 500px; /* Increased container width */
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #222;
  border-radius: 15px; /* Increased border radius */
  text-align: center;
  width: 70%;
}

.pin-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 30px; /* Increased gap between PIN boxes */
}

.pin-input {
  width: calc(100% - 22px); /* Adjusted input width with space for borders */
  padding: 10px;
  border: 1px solid #7c7b7b;
  border-radius: 10px; /* Rounded borders */
  outline: none;
  text-align: center;
  background-color: #333;
  color: #fff;
  width: 85%;
  height: 25px;
}
.pin-input.active-input {
  border: 1px solid greenyellow !important;
}
.keypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.keypad-btn {
  width: 100%;
  padding: 10px;
  background-color: #000; /* Black background */
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 10px; /* Rounded borders */
  cursor: pointer;
}

.keypad-btn:hover {
  background-color: #333; /* Darker hover color */
}

.logo {
  width: 65px;
  height: 60px;
  border-radius: 5px;
  border: 2px solid #fff;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px; /* Center and provide margin */
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  font-size: 24px; /* Adjust font size */
  margin-bottom: 20px; /* Provide some bottom margin */
}

@media (max-width: 600px) {
  .main-container {
    width: 90%;
  }
}

.error {
  color: #991b1b;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}
